<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.dao.SongDao">

    <!-- 导入mybatis-redis依赖，自动存入redis -->
    <cache type="org.mybatis.caches.redis.RedisCache"/>

    <insert id="addSong">
        insert into song(url, `name`)
        values (#{url}, #{name})
    </insert>

    <update id="updateNameById">
        update song
        set `name` = #{name}
        where id = #{id}
    </update>

    <update id="updateUrlById">
        update song
        set url = #{url}
        where id = #{id}
    </update>

    <select id="selectAllSong" resultType="song">
        select * from song
        <where>
            <if test="name!= null and name!= '' ">
                name like concat('%',#{name},'%')
            </if>
        </where>
    </select>

</mapper>